@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Light-webfont.eot');
    src: url(../fonts/'Aleo-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Light-webfont.woff') format('woff'),
         url('../fonts/Aleo-Light-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Bold-webfont.eot');
    src: url('../fonts/Aleo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aleo-Bold-webfont.woff') format('woff'),
         url('../fonts/Aleo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Aleo-Bold-webfont.svg#aleobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.header h2 b {
    display: block;
}

.header h5, .testimonial h4 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}